body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:  lightgreen;
}

.container-title{
    display: flex;
    flex-direction: column;
    align-self: center;
    color: blue;
}

p{
    font-size: 25px;
}

h1{
    text-align: center;
}

.container-notes{
    margin-left: 100px;
    margin-top: 50px;
}

button{
    width: 300px;
    height: 200px;
    font-size: 150px;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0.15);
    background-color: rgb(180, 239, 180);
    color: blue;
}

button:hover{
    background-color: rgb(198, 239, 198);
    cursor: pointer;
    transform: scale(1.1);
}

textarea{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0.15);
    background-color: rgb(180, 239, 180);
    outline: none;
    border-style: none;
}
